*.iml
.gradle
/local.properties
/.idea
.
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/release/app-release.apk
/release/output-metadata.json
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
